<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IStorageService" sendTimeout="00:25:00" />
      </basicHttpBinding>
      <wsDualHttpBinding>
        <binding name="WSDualHttpBinding_WeatherService" />
      </wsDualHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/StorageService/StorageService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IStorageService"
        contract="StorageServiceReference.IStorageService" name="BasicHttpBinding_IStorageService" />
      <endpoint address="http://localhost/WeatherService/WeatherService.svc"
        binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_WeatherService"
        contract="WeatherServiceReference.WeatherService" name="WSDualHttpBinding_WeatherService">
      </endpoint>
    </client>
  </system.serviceModel>

  <appSettings>
    <add key="WeatherUpdateFromDbInterval" value="10000" />
  </appSettings>
</configuration>